/* Components */
@import "./components/card.css";
@import "./components/filters.css";
@import "./components/search_bar.css";

/* Layouts */
@import "./layouts/header.css";
@import "./layouts/footer.css";

/* Pages */
@import "./pages/home.css";


/* Design System */
:root {
    /* Colors */
    --color-primary: #0065FC;
    --color-secondary: #DEEBFF;
    --bg-color-primary: #D9D9D9;
    --bg-color-secondary: #F2F2F2;
    --color-white: #FFFFFF;
    --color-black: #000000;

    /* Text configuration */
    --font-family-primary : 'Raleway', sans-serif;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --font-size-300: 0.875rem ; /* 14px */
    --font-size-400: 1rem ; /* 16px */    
    --font-size-500: 1.125rem ; /* 18px */
    --font-size-700: 1.375rem ; /* 22px */ 
}


/* -------------------------------------------- */
/* Reset */
/* CSS Reset from Josh Comeau https://www.joshwcomeau.com/css/custom-css-reset/ */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;    
}

body {
    line-height: 1.3;
}

img, svg, picture {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4 {
    overflow-wrap: break-word;
}


/* -------------------------------------------- */
/* Utility classes */

.d-flex {
    display: flex;    
}

.flex-jc-c {
    justify-content: center;
}

.d-grid {
    display: grid;
}

.main-container {
    width: 100%;
    max-width: 1440px;    
    padding: 0 50px;    
}

.fa-solid {
    color: var(--color-primary);
}

.reset-list {
    list-style-type: none;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--bg-color-secondary);
}

.display-more {
    margin-top: 30px;
}


/* --------------------------------------------- */
/* General styling*/
body {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-400);  
    color: var(--color-black);  
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    font-size: var(--font-size-700);
    font-weight: var(--font-weight-bold);
    margin-bottom: 30px;
}


/* ----------------------------------------------- */
/* Media Queries */

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {    

    /* Utilities classes */
    .main-container {
        padding: 0;
    }
}    

