 /* Filters */
 .filters {
    align-items: center;    
    margin: 35px 0;    
}

.filters-title {
    font-size: var(--font-size-500);
    font-weight: var(--font-weight-bold);
}

.filters-group {
    margin-left: 15px;
    column-gap: 15px;    
}

.filters-group > button {
    display: flex;
    align-items: center;
    justify-content: center;    
    
    font-size: 17px; 
    font-weight: var(--font-weight-bold);
    background-color: var(--color-white); 

    height: 50px;
    width: 173px;    

    border: 2px solid var(--bg-color-primary);
    border-radius: 25px;
}

.filters-group > button:hover {
    background-color: var(--color-secondary);
    cursor: pointer;
}

.filters-group i {
    margin-right: 10px;
    font-size: var(--font-size-700);
}

/* Medium devices ( <= 1024px) */
@media (max-width: 1024px) {
    
    .filters {
        flex-direction: column;
        row-gap: 20px; 
        align-items: flex-start;       
    }

    .filters-group {
        margin-left: 0; 
        flex-wrap: wrap;
        row-gap: 20px;      
    }

    .filters-group > button {
        font-size: var(--font-size-400); 
    }
}

/* Small devices (< 768px) */
@media (max-width: 767.98px) { 
    
    .filters-group {         
        column-gap: 10px;        
    }

    .filters-group > button {
        flex: 1 1 48%; 
        font-size: var(--font-size-300);
        align-items: center;
        justify-content: center;
    }
}