/* Page title and subtitle */
.page-title {
    margin-top: 30px;
    margin-bottom: 35px;
}

.page-title h1 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-700);
}

.page-title p {
    margin-top: 8px;
}


/* Informations */
.info-bar {
    align-items: center;
}

.info-bar .circle-icon {
    width: 24px;
    height: 24px;

    font-size: 0.6875rem; /* 11px */
    margin-right: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;

    border-radius: 50%;
    border: 1px solid var(--bg-color-primary);
}
 

/* Hebergements & Populaires */
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--bg-color-secondary);
    border-radius: 20px;
    padding: 30px;    
}

    /*** Hebergements ***/
.hebergements {
    width: 65%;
}

.hebergements-cards .card {
    height: 100% 
} 

.hebergements-cards {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    row-gap: 30px;
    column-gap: 30px;       
}

.hebergements-cards img {
    width: 100%;
    height: 124px ;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    margin-top: 8px;
    padding: 0 15px;   
}

.hebergements-cards p {
    margin: 4px 0;      
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.display-more {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-500);
}

    /*** Populaires ***/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-title .section-title {
    margin: 0;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/* Activities */
.activities {
    padding: 1.875rem; /* 30px */
    margin: 2.1875rem 0; /* 35px */   
    background-color: var(--color-white);
}

.activities-cards > * {
    flex: 1 0 0;
}

.activities-cards .card {
    padding: 0;
    height: 100%; 
    overflow: hidden; 

    flex-direction: column;
}

.activities-cards img {
    width: 100%;
    height: 380px;
}

.activities-cards .card-content {
    padding: 20px 19px 20px 19px;
}

.activities-cards a:not(:last-child) {
    margin-right: 1.875rem; /* 30px */
}

/* -------------------------------------------------- */
/* Medium devices (<= 1024px) */
@media (max-width: 1024px) {

    /*** Hebergements & Populaires ***/
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }   
     

    /*** Activities ***/
    .activities-cards img {        
        height: 200px;
    }
}

/* Small devices (< 768px) */
@media (max-width: 767.98px) {    
    
    /*** Page title & Informations group ***/
    .page-title,
    .info-group {
        padding: 0 20px;
    }
   

    /*** Hebergements & Populaires ***/
    .hebergements-and-populaires {
        flex-direction: column; 
        margin-top: 0;     
        
    }

        /******* Hebergements ******/
    .hebergements-and-populaires .hebergements {
        order: 2;
        margin-top: 15px;
        padding: 20px;
        background-color: var(--color-white);
    }     

    .hebergements .section-title {
        margin-bottom: 15px;
    }

    .hebergements-cards {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        row-gap: 15px;              
    }    

        /****** Populaires ******/    
    .hebergements-and-populaires .populaires {
        padding: 30px 20px;
        border-radius: 0;
        margin-top: 35px;
    } 

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards > a {
        width: 100%;
    }

    .populaires-cards .card {
        margin-top: 15px;
    }
    

    /*** Activities ***/
    .activities-cards {
        flex-direction: column;
    }

    .activities-cards img {        
        height: 141px;
    }

    .activities-cards a:not(:last-child) {
        margin-right: 0; /* 30px */
        margin-bottom: 15px;
    }      
}

    
    